{
    "working_directory": "./active",
    "discord_token": "TOKEN GOES HERE",
    "discord_tagline": "good evening",
    "message_search_count": 15,
    "command_chain_limit": 3,
    "max_concat_count": 3,

    "response_messages": [
        "these",
        "are",
        "random",
        "messages",
        "the",
        "bot",
        "will",
        "say"
    ],
    "meta_prefixes": ["veb", "videoeditbot", "destroy"]
}
